li {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 190px;
    height: 40px;
}

li:hover {
    background-color: rgb(241, 241, 241);
}

a {
    text-decoration: none;
    color: black
}